<%- include ('partials/head') %>

          <div class="hero">
                    <div class="container">
                              <div class="hero__text">
                                        <h2>
                                                  Author: <%= review.author %>
                                        </h2>
                                        <h2>
                                                  Title: <%= review.title %>
                                        </h2>
                                        <h3>
                                                  Summary: <%= review.summary %>
                                        </h3>
                              </div><a href="/reviews">Back to all reviews</a>
                              <a href="/reviews/<%= review._id %>/edit">Edit the review</a>
                              <form action="/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                        <button>Delete</button>
                              </form>
                    </div>

          </div>

          <%- include ('partials/footer') %>